body{
  background-image: url("https://vignette.wikia.nocookie.net/here-be-dragons/images/4/41/Shambhala.jpg/revision/latest/scale-to-width-down/1000?cb=20190817024354");
  background-repeat: no-repeat;
  background-size:100%;
}
h1, h2{
  text-align: center;
  color: white;
  font-family: cursive;
}
h2{
  text-align: justify;
  color: magenta;
}

p{
  color: white;
  font-size: 20px;
  font-family: monospace;
  padding: 50px;
}
div{
  margin: 10px;
  padding: 30px;
}
input[type=password]{
  color: magenta;
}
input[type=text]:hover{
  cursor: move;
  shape-margin: 30px;
}
