@media print{
  .screen-only{
    display: none;
  }
}
@@media (min-width: 500px) {
  body{
    background-color: green;
  }
}
@media (max-width: 499px){
  body{
    background-color: red;
  }

}
body{
    background-color: gray;
    background-size:100%;
}
h1, h2{
  text-align: center;
  color: white;
  font-family: cursive;
}
h2{
  text-align: justify;
  color: magenta;
}
h1:hover{
  color:blue;
}

p{
  color: white;
  font-size: 20px;
  font-family: monospace;
}
div{
  margin: 10px;
}
input[type=password]{
  color: magenta;
}
input[type=text]:hover{
  shape-margin: 30px;
}
input[type=submit]{
  width:10%;
  height:10%;
}
input[type=submit]:hover{
  background-color: red;
  color: yellow;
}
form{
  border:5px solid yellow;
}
table, td, th{
  color: white;
  border: 5px solid orange;
  border-collapse:collapse;
  font-size: 100%;
  margin: 20px;
  padding:10px;
}
ol {
  color: white;
  font-weight: bolder;
  font-family: cursive;
}
p::selection{
  color:red;
  background-color: blue;
}
p:hover{
  color:red;
}
form:hover{
  border: 10px dotted red;
  background-image: url(https://image.freepik.com/free-vector/stylish-wavy-indian-flag-theme-background_1055-7109.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
